* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:"Microsoft Yahei";
}

p, h2, ol{
    margin:10px;

}

h3{
    margin:10px;
    color: grey;
}

.author{
    font-size: 7px;
    color: darkgrey;
}

.content,ul{
    text-indent: 2em;
}

ol>li{
    list-style: decimal;
    margin-left: 3em;
}

#header{
    background-color: #333;
    height: 60px;
}

#logo{
    height:100%;
}

#navigation{
    position: relative;
    float: right;
}

#navigation li{
    display: inline;
    line-height: 60px;
}

#footer{
    background-color: #000;
    height: 80px;
}

#footer p{
    color: white;
    text-align: center;
    line-height: 80px;
}

#mainbody{
    background-color: #DEDEDE;
    padding:20px;
}

.article,.picture{
    background-color: #FFF;
    margin:10px auto;
    padding: 20px;
    border-color: #FFF dimgray dimgray #FFF;
    border-style: solid;
}

.gakki{
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
    width: 580px;
}

.jinrizi{
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, tr, td, table{
    border: 1px solid #CCC;
}

table th{
    background-color: #333;
    color: white;
}

#tableend{
    background-color: #CCC;
    /*color: white;*/
    font-weight: bold;
}

.col1{
    width: 40%;
}

#sidebar{
    background-color: #FFF;
    margin:20px auto;
    padding: 20px;
    border-color: #FFF dimgray dimgray #FFF;
    border-style: solid;
    position: relative;
}


#line{
    position: absolute;
    width: 0;
    height: 40px;
    top: 20px;
    border: 2px solid #CCC;
}

form div{
    margin: 10px 0;
    display: block;
}


.lef{
    text-align: right;
    width: 40%;
    float: left;
    margin: 0;
}

.rig{
    float: right;
    width: 59%;
    margin: 0;
}

.hint{
    font-size: 15px;
    color: gray;
}

#describe{
    display: inline;
}

#button {
    margin-top: 20px;
    width: 100%;
    height: 35px;
    background-color: #3355D0;
    color: #fff;
    border-radius: 5px;
    border: none;
}

textarea{
    width: 80%;
    height: 100px;
}